div.Category-Card{
    background-color: #edecee;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

h2.Category-Name{
    color: black;
    margin-bottom: 8px;
    font-size: 18px;
}

.Task-new-container{
    margin-top: 8px;
}

.Task-new{
    width: 100%;
    resize: none;
    background-color: #e0dfe1;
    border-color: transparent;
    overflow: hidden;
    padding: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.Category-container{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding: 12px;
    max-width: 600px;
}