/* Task Container */
.Task-container{
    display: flex;
    margin-bottom: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(26,24,29,.16),0 1px 4px 0 rgba(26,24,29,.12);
    box-shadow: 0 2px 2px 0 rgba(26,24,29,.16),0 1px 4px 0 rgba(26,24,29,.12);
    background: #fff;
    border-radius: 2px;
    position: relative;
    background-color: #ffffff;
    color: black;
}

.Task-container:hover{
    box-shadow: 0 1px 8px 0 rgba(26,24,29,.12),0 4px 4px 0 rgba(26,24,29,.16);
    border: solid #36205d;
    border-width: thin;
}

.Task-container-off{
    color: #939393;
}

/* Task Button Container */
.Task-button-container{
    justify-content: center;
    display: flex;
    padding: 6px;
}

.Task-button-container-off{
    background-color: #878190;
}

.Task-button-container-redder{
    background-color: #de3f3f;
}

.Task-button-container-red{
    background-color: #ff6165;
}

.Task-button-container-orange{
    background-color: #ff944c;
}

.Task-button-container-yellow{
    background-color: #ffbe5d;
}

.Task-button-container-green{
    background-color: #24cc8f;
}

.Task-button-container-blue{
    background-color: #3bcad7;
}

.Task-button-container-bluer{
    background-color: #50b5e9;
}

.Task-button-container-purple{
    background-color: #925cf3;
}

/* Task Button */
Button.Task-button{
    background:hsla(0,0%,100%,.5)
}

Button.Task-button-off{
    background-color: #c3c0c7;
}

/* Task Info Container */
.Task-info-container{
    flex-grow: 1;
    padding: 8px;
    cursor: pointer;
}

/* Task Name */
.Task-name{
    margin-top: 8px;
    margin-bottom: 4px;
}

/* Task Description */
.Task-description{
    font-size: 11px;
    margin-left: 2px;
}

.Task-last-complete{
    font-size:xx-small;
    font-style: italic;
    color: rgb(121, 121, 121);
    text-align: right;
}