.App {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.App-header {
  font-size: calc(16px + 1vmin);
  color: white;
  padding: 16px;
  background-color: #36205d;
  text-align: center;
}

.App-content-wrapper{
    display: flex;
    flex-direction: row;
}

.App-break{
    width: 4px;
    min-height: 100vh;
}

.App-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
    background-color: white;
    flex-grow: 1;
}

.Task-item{
    margin-bottom: 4px;
}

.App-sidebar{
    width: 200px;
    min-height: 100vh;
    left: 0;
    position: fixed;
}