.App {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.App-header {
  font-size: calc(24px + 1vmin);
  color: white;
  padding: 16px;
  background-color: #36205d;
  margin-bottom: 24px;
}

.App-body{
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.Task-item{
    margin-bottom: 4px;
}